<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="LibraryDB"
			 connectionString="Data Source=localhost;Initial Catalog=LibraryDB;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<httpRuntime targetFramework="4.0" />
		<sessionState timeout="30" />
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" timeout="30" />
		</authentication>
	</system.web>

</configuration>